__pycache__/

lahn_env/
backend/env/
backups/

.archive/

backend/data/*

frontend/public/video.mp4
#frontend/package.json
#frontend/package-lock.json

.env

test/

backend/.env
backend/utils/.env

backend/avatars.json
